<div class="resetPassword-wrapper">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Reset Password</mat-card-title>
        </mat-card-header>
        <br>
        
        <form class="example-form" #loginForm="ngForm" (ngSubmit)="submit()">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="email" name="email" placeholder="email" required>
            </mat-form-field>
            <br>
            <br>
            <button mat-flat-button class="btn-block" type="submit" [disabled]="loginForm.invalid">
                {{ isSubmitting ? 'Submitting...' : 'Send Reset Email' }}
            </button>
        </form>
    </mat-card>
</div>