<div class="login-wrapper">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <form class="example-form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <!-- <input matInput [(ngModel)]="username" name="username" required > -->
                    <input matInput [(ngModel)]="username" name="username" required #usernameInput="ngModel" />
                    <mat-error *ngIf="usernameInput.invalid && usernameInput.touched">
                        <span *ngIf="usernameInput.errors?.required">Username is required.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)]="password" name="password" required minlength="6"
                        #passwordInput="ngModel" type="password">
                    <mat-error *ngIf="passwordInput.invalid && passwordInput.touched">
                        <span *ngIf="passwordInput.errors?.required">Password is required.</span>
                        <span *ngIf="passwordInput.errors?.minlength">Password must be at least 6 characters.</span>
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <button mat-flat-button class="btn-block" type="submit" [disabled]="loginForm.invalid">Log in</button>
        </form>
        <div class="reset-password-link">
            <a href="/forgot-password" class="forgot-password-link">Forgot password?</a>
        </div>
    </mat-card>
</div>