.centered-container {
    background-color: rgb(248, 239, 222);
    width: 460px;
    height: 400px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    // height: 400px; /* Set the container's height to 100% of the viewport height */
}

.plot-container {
    // width: 460px;
    // height: 400px;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // width: 300px;
    height: 200px;
}

.example-margin {
    margin-left: 30px;
    font-size: small;
}

::ng-deep {
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: tomato !important;
    }
}

.inline-form-field {
    display: inline-block;
}

.inputField {
    width: 75px;
    margin: 0 10px;
}
