<div class="row flexContainer">
    <div class="col-md-3 sideBar">
        <app-data-filter (subjectIdEventSP)="passDataSP($event)" (subjectIdEventVP)="passDataVP($event)"
            (subjectIdEventVP2ndFilter)="passDataVP2ndFilter($event)"
            (dataDictionaryShare)="shareDataDictionary($event)" [dataDict]="dataDict"
            (emitStorageDS)="passDataFilterDataset($event)">
        </app-data-filter>
    </div>

    <div class="col-md-9 content">
        <br>
        <br>
        <div class="plots-container">
            <app-scatterplot [receivedData]="receivedData"></app-scatterplot>
            <app-violinplot [dataUR]="dataUR" [plotNum]="'Violin'" [dataDictionary]="dataDict"
                [selectedCategory]="selectedCategory"></app-violinplot>
        </div>


        <mat-form-field>
            <mat-label>Add Another Filter</mat-label>
            <mat-select (selectionChange)="onFilterSelected($event.value)">
                <mat-option *ngFor="let category of filterCategory" [value]="category">
                    {{category}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="dataVP2ndFilter" class="plots-container">
            <ng-container *ngFor="let data of getObjectValues(dataVP2ndFilter); let i = index">
                <app-violinplot [dataUR]="data" [plotNum]="i" [dataDictionary]="dataDict"
                    [selectedCategory]="selectedCategory"></app-violinplot>
            </ng-container>
        </div>




    </div>
</div>