<!-- <app-progress-spinner *ngIf="isLoading"></app-progress-spinner> -->
<div class="loading-container" *ngIf="isLoading">
    <mat-spinner diameter="30"></mat-spinner>
</div>
<div>
    <div class="my_barchart" *ngIf="!hideBarchart">
        <div [id]="'my_barchart_' + id"></div>
    </div>
    <br>
    <mat-checkbox class="example-margin" [(ngModel)]="logCounts" (change)="onCheckboxCounts()">Log 2 (Counts)
    </mat-checkbox>
    <br>
    <app-download-image [containerId]="idValue" [imageName]="imageName"></app-download-image>
    <p *ngIf="hideBarchart" class="hideMessage text-center">There is no data to be displayed.</p>
</div>