<!-- <app-spinner-overlay *ngIf="isLoading"></app-spinner-overlay> -->
<mat-drawer-container class="filter-container" autosize>
    <!-- <mat-drawer #drawer class="filter-sidenav" mode="side" [opened]="currentDataset.length>0"
        *ngIf="currentDataset !== '' "> -->
    <!-- <mat-drawer #drawer class="filter-sidenav" mode="side" opened> -->
        <!-- <div class="sideContainer" *ngIf="currentDataset !== '' ">
            <div class="filtersTitle" >Filters</div>
            <div *ngFor="let item of storageDataSet[currentDataset] | keyvalue">
                <div
                    *ngIf="!advanceFields.includes(item.key)">
                    <mev-checkbox *ngIf="altStorage[currentDataset][item.key]['altQuery'] === ''; else elseBlock"
                        [info]='item' [alt]='altStorage[currentDataset]' [currentDataset]="currentDataset" version="1"
                        [displayDetails]="true" [showMoreStatus]="showMoreStorage">
                    </mev-checkbox>
                    <ng-template #elseBlock>
                        <mev-checkbox *ngIf="altStorage[currentDataset][item.key]" [info]='item'
                            [alt]='altStorage[currentDataset]' [currentDataset]="currentDataset" version="2"
                            [displayDetails]="true" [showMoreStatus]="showMoreStorage">
                        </mev-checkbox>
                    </ng-template>
                </div>
            </div>

            <div *ngFor="let item of sliderStorage[currentDataset] | keyvalue">
                <div *ngIf="!advanceFields.includes(item.key)">
                    <mev-slider [info]='item' [currentDataset]="currentDataset" [category]="item.key"
                        [countNum]="sliderStorage[currentDataset][item.key]['count']"
                        (childEvent)="setSliderValue($event)" [displayDetails]="true"
                        (checkEvent)="onNotReportedChecked($event)" [mainQuery]="mainQuery"
                        [sliderdata]="sliderStorage">
                    </mev-slider>
                </div>
            </div>
            <div *ngIf="displayAdvance === true">
                <div *ngFor="let item of storageDataSet[currentDataset] | keyvalue">
                    <div *ngIf="advanceFields.includes(item.key)">
                        <mev-checkbox *ngIf="altStorage[currentDataset][item.key]['altQuery'] === ''; else elseBlock"
                            [info]='item' [alt]='altStorage[currentDataset]' [currentDataset]="currentDataset"
                            version="1" [displayDetails]="false" [showMoreStatus]="showMoreStorage">
                        </mev-checkbox>
                        <ng-template #elseBlock>
                            <mev-checkbox *ngIf="altStorage[currentDataset][item.key]" [info]='item'
                                [alt]='altStorage[currentDataset]' [currentDataset]="currentDataset" version="2"
                                [displayDetails]="true" [showMoreStatus]="showMoreStorage">
                            </mev-checkbox>
                        </ng-template>
                    </div>
                </div>
                <div *ngFor="let item of sliderStorage[currentDataset] | keyvalue">
                    <div *ngIf="advanceFields.includes(item.key)">
                        <mev-slider [info]='item' [currentDataset]="currentDataset" [category]="item.key"
                            [countNum]="sliderStorage[currentDataset][item.key]['count']"
                            (childEvent)="setSliderValue($event)" [displayDetails]="false"
                            (checkEvent)="onNotReportedChecked($event)" [mainQuery]="mainQuery"
                            [sliderdata]="sliderStorage">
                        </mev-slider>
                    </div>
                </div>
            </div>
            <div class="buttonRow">
                <button mat-stroked-button color="primary" (click)="onDisplayAdvance()">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">tune</mat-icon> {{displayAdvance ?
                    "Hide": "Show"}} Advance Filters
                </button>
                <button mat-stroked-button color="black" class="createPlotsBtn" (click)="getSubjectIds()">Create Plots</button>
            </div>
        </div> -->
    <!-- </mat-drawer> -->
</mat-drawer-container>