::ng-deep {
    // .axis path,
    // .axis line {
    //   fill: none;
    //   stroke: rgba(0, 0, 0, 0.1);
    //   shape-rendering: crispEdges;
    // }
  
    // .label {
    //   fill: initial;
    //   font-size: 16px;
    // }
  
    .d3-tip {
      line-height: 1;
    //   font-weight: bold;
      font-size: 12px;
      padding: 4px;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      border-radius: 2px;
      z-index: 1;
    }
    .category{
        color: #FFBF00;
        font-weight: bold;

    }
  
    // .selected {
    //   fill: red;
    //   stroke: black;
    //   stroke-width: 2px;
    // }
  }
  